/* @import url("https://font..googleapis.com/css?family=Rubik&display=swap"); */
/* Styling for Landing */
/* .page-wrapper {
    width: 100%;
    padding-right: 35px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
} */
.post-category {
    padding: 0 10px;
    display: inline-block;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #0000ff;
    text-transform: uppercase;
    font-size: 10px;
    color: #0000ff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.75px;
}

.post-category a:hover,
.post-category a:focus {
    background-color: #0000ff;
    color: #ffffff;
    border: 1px solid #00ffc8;
}

.post-content .post-image {
    /* float: left;
    margin-right: 20px; */
    margin-bottom: 40px;
}

.post-content .post-image .post-content-image {
    max-height: 365px;
}

.post-content .row.post-info {
    margin-top: 120px;
    margin-bottom: 0;
    border-bottom: 0;
}

img.logo-brand {
    height: 30px !important;
}

a#whatsapp-icon-main {
    display: block;
    position: fixed;
    background-color: #16aa54;
    border-radius: 50%;
    bottom: 80px;
    right: 30px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 30px;
    height: 50px;
    text-align: center;
    width: 50px;
    /* line-height: 46px; */
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 255;
}
a#whatsapp-icon-main:hover {
    background-color: #136e13;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    a#whatsapp-icon-main {
        bottom: 30px;
        right: 30px;
    }
}
@media only screen and (max-width: 767px) {
    a#whatsapp-icon-main {
        bottom: 30px;
        right: 30px;
    }
}

.love-icon i {
    color: #ff1e00;
}

.love-icon:hover,
.love-icon:focus {
    color: red;
    transition: 0.3s;
}

.love-icon:hover i::before,
.love-icon:focus i::before {
    content: "\f004";
    transition: 0.3s;
}

.love-text {
    color: #ff1e00;
    font-size: 12px;
    margin-left: 5px;
}

.like-container {
    display: inline-flex;
    align-items: center;
}

footer.footer-area {
    background: #ffffff url(../img/footer-bg.png) no-repeat right bottom;
    background-size: contain;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 70px 0;
}
footer.footer-last {
    background-color: #fdfdfd;
    position: relative;
    padding: 10px 0;
    z-index: 1;
}

footer.footer-last p {
    color: #6e6e6e;
    margin-bottom: 0;
}

.footer-contact p {
    text-align: left;
}

.footer-contact h4 {
    font-size: 16px;
    font-weight: bold;
    color: #575757;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer-map {
    border: 0;
    border-radius: 5px;
    transition: 0.2s;
}

.footer-single-widget {
    color: #d5d5d5;
}

.post-btn {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

.post-btn-copy {
    background-color: #444444;
    border: 0;
}

.post-btn-copy:hover,
.post-btn-copy:focus {
    background-color: #303030;
    color: white;
}
.post-btn-facebook {
    background-color: #364ef3;
}

.post-btn-facebook:hover,
.post-btn-facebook:focus {
    background-color: #3044c7;
    color: white;
}
.post-btn-twitter {
    background-color: #36b7f3;
}
.post-btn-twitter:hover,
.post-btn-twitter:focus {
    background-color: #2582ad;
    color: white;
}

.post-btn-instagram {
    background-color: #f3368e;
}
.post-btn-instagram:hover,
.post-btn-instagram:focus {
    background-color: #b42668;
    color: white;
}

.post-btn-whatsapp {
    background-color: #1dc038;
}
.post-btn-whatsapp:hover,
.post-btn-whatsapp:focus {
    background-color: #168328;
    color: white;
}

.post-thumbnail .category-list-item img {
    max-height: 100px;
}

.world-latest-articles .title-categories {
    margin-top: 0px;
    margin-bottom: 30px;
    border-bottom: 2px solid #f1f1f1;
}

.world-latest-articles .title-categories h5 {
    display: block;
    font-size: 18px;
    color: #000000;
    margin-bottom: 0;
    margin-right: auto;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    padding: 10px 0;
}

/* Disqus Threads */
.card.card-comments .card-header {
    padding: 0.15rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.01);
}

/* Category LIST */
.card.post-item p {
    margin-bottom: 0.2rem;
}

/* TOP ARTIKEL */
#sidebar-top-artikel .widget-content {
    padding: 10px 10px;
}

.sidebar-widget-area .widget-content #card-top-artikel {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar-widget-area .widget-content #card-top-artikel .card-img-left {
    height: 100px;
    object-fit: cover;
}

.sidebar-widget-area .widget-content #card-top-artikel .card-body {
    padding: 0.5rem 1.25rem;
}

.sidebar-widget-area .widget-content #card-top-artikel .card-body p {
    margin-bottom: 0;
    position: absolute;
    bottom: 10px;
}

.sidebar-widget-area .widget-content #card-top-artikel .card-body p.post-body {
    position: absolute;
    bottom: 40px;
}



/* Chatango Plugin */
.widget-content#chatango-widget {
    padding: 10px 0 5px 10px;
}

.widget-content#chatango-widget iframe {
    width: 400px;
    height: 250px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #f1f1f1;
}

.widget-content#chatango-widget
    iframe
    div#cgroup
    > div#GBG
    > div#CGW
    > div#HEAD
    > span#controls {
    display: none;
    cursor: not-allowed;
}

/* HERO */
.hero-area .row .single-blog-title .post-cta {
    margin-bottom: 5px;
}

.hero-area.hero-detail,
.hero-area.hero-category-list,
.hero-area.hero-category,
.hero-area.hero-basic {
    background-image: url("../../../../assets/img/hero-image/bg-4.jpg");
}

/* .hero-area.hero-contact h3 {
    font-size: 50px;
} */

/* SIDEBAR CNS RADIO  */
.sidebar {
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    padding-top: 50px;
    z-index: 301;
    transition: 0.4s;
    border-right: 2px solid #949494;
    box-shadow: 6px 0 6px rgba(0, 0, 0, 0.2);
 }

 .sidebar h1 {
    display: block;
    padding: 5px 5px;
    color: #fff;
    text-decoration: none;
    font-family: "Rubik";
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0 0 20px 0;
    font-size: 25px;
    text-transform: uppercase;
 }

 .sidebar a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    letter-spacing: 2px;
 }

 .sidebar a:hover {
    margin-left: 5px;
    transition: 0.2s;
 }

 .sidebar .toggle-button {
    font-size: 26px;
 }

 .sidebar.minimized {
    width: 55px;
    height: 20px;
    top: 16%;
    left: 0px;
    transition: 0.4s;
    border-top: 2px solid #949494;
    border-right: 2px solid #949494;
    border-bottom: 2px solid #949494;
    border-radius: 0 10px 10px 0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
 }

 .sidebar.minimized .toggle-button {
    position: fixed;
    top: 17%;
    left: -15px;
    color: black;
    font-size: 26px;
    border: 0;
    outline: none;
    transition: 0.4s;
 }

 .sidebar.minimized h1,
 .sidebar.minimized a,
 .sidebar.minimized iframe,
 .sidebar.minimized audio,
 .sidebar.minimized img {
    display: none;
 }

 .toggle-button {
    background-color: transparent;
    color: black;
    border: 0;
    margin: 5px 0px 0px 15px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
 }

 .toggle-button:active,
 .toggle-button:after,
 .toggle-button:hover,
 .toggle-button:focus {
    outline: none;
 }

 .sidebar .container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
 }

 .sidebar .container h1 {
    margin-right: 10px;
 }

 .sidebar .container img {
    margin-right: 90px;
 }

 .sidebar .container button.toggle-button {
    margin-bottom: 5px;
    transition: 0.2s;
 }

 .sidebar .container button.toggle-button:hover {
    margin-bottom: 8px;
    transition: 0.4s;
 }

 #sidebar-toggle::before {
    content: "🡸";
 }

 @keyframes delayedAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1; 
    }
  }

  
 .sidebar.minimized #sidebar-toggle::before {
    content: url('../../../img/CNS/logo_cns.png');
    animation: delayedAppear 1.5s ease-in-out forwards;
 }

 @media only screen and (max-width: 768px) {
    #sidebar-toggle::before {
       content: "<";
    }

    .sidebar.minimized #sidebar-toggle::before {
       content: ">";
       transition: 0.4s;
    }
 }

 .sidebar-audio {
    background: #580931;
    border: 1px solid #fa5aaa;
    border-radius: 25px;
    width: 220px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    /* z-index: 3; */
    display: block;
 }

 .sidebar iframe.player {
    padding: 10px;
 }

 .sidebar iframe.playlist {
    padding: 15px;
    border: 0;
 }

 .sidebar iframe.playlist,
 .sidebar iframe.player {
    margin-top: 0px;
 }

 /* CARD FOR POSTS */
.card.post-item {
    box-shadow: 0 0.125rem 0.55rem rgba(0, 0, 0, 0.085) !important;
}
 .card.post-item .row .post-image .post-category-label {
    position: absolute;
    top: 5px;
    left: 25px;
    z-index: 10;
 }
 
 .card.post-item .row .post-image .post-category-label a {
    padding: 0 10px;
    display: inline-block;
    height: 20px;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
    color: #0000ff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.75px;
 }

 /* CNS Radio Page */
 .card.cns-radio .card-body {
    padding: 3rem 1.25rem;
 }
 .card.cns-radio h3.program-siaran {
    color: #0C71C3;
 }

 .card.cns-radio iframe.playlist {
    border: 0;
 }

 /* Navbar */
 .header-area .container-navbar {
    width: 100%;
    padding-right: 65px;
    padding-left: 95px;
    margin-right: auto;
    margin-left: auto;
 }

 .single-blog-post .post-content p a.bergabung-link {
    color: #0b75d8;
 }

 .single-blog-post .post-content p a.bergabung-link:hover, .single-blog-post .post-content p a.bergabung-link:focus {
    color: #0760b3;
 }