@media (max-width:1619px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar .search {
		margin-left: 40px;
	}
	/* End Main Menu Area css
	============================================================================================ */
}

@media (min-width:1200px) and (max-width: 1500px){
	.single-blog.style-three .short_details {

		right: 5%;
		width: 90%;
		padding: 8px 10px;
	}
	.single-blog.style-three h4 {
		font-size: 16px;
		line-height: 24px;
	}

}
@media (max-width:1199px){

	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar .nav .nav-item {
		margin-right: 28px;
	}
	/* End Main Menu Area css
	============================================================================================ */
	/* Home Banner Area css
	============================================================================================ */
	/* End Home Banner Area css
	============================================================================================ */

	/* Element Area css
	============================================================================================ */

	.area-padding {
		padding: 80px 0;
	}

	.area-heading {
		margin-bottom: 50px;
	}

	/* End Element Area css
	============================================================================================ */

	/* Service Area css
	============================================================================================ */

	/* End service Area css
	============================================================================================ */

	#search_input_box {
		max-width: 930px;

	}

	.single-blog {
		margin-bottom: 30px;
	}
	.single-blog.style-five.small h4 {
		font-size: 14px;
	}

	/* News Area css
	============================================================================================ */

	

}

@media (max-width:992px) and ( max-width: 1199px){

	.single-blog.style-five .short_details {
		padding: 20px;
	}

	.single-blog.style-five .short_details {
		padding: 20px;
	}
	



}

@media (min-width:992px) and ( max-width: 1199px){

	.single-blog.video-style.small .meta-bottom {
		display: none !important;
	}


}

@media (max-width:991px){
	/* Main Menu Area css
	============================================================================================ */
	.navbar-toggler {
		border: none;
		border-radius: 0px;
		padding: 0px;
		cursor: pointer;
		margin-top: 27px;
		margin-bottom: 23px;
	}
	.header_area .navbar {
		background: #fff;
	}
	.navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}
	.navbar-toggler span{
		display: block;
		width: 25px;
		height: 3px;
		background: #ff7a7f;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
	}
	.navbar .container{
		padding-left: 15px;
		padding-right: 15px;
	}
	.nav{
		padding: 0px 0px;
	}

	.header-top {
		line-height: 70px;
	}
	.header_area .navbar .nav .nav-item .nav-link{
		line-height: 40px;
		margin-right: 0px;
		display: block;
		border-bottom: 1px solid #ededed33;
		border-radius: 0px;
	}
	.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 40px;
	}
	.header_area .navbar .search{
		margin-left: 0px;
	}
	.header_area .navbar-collapse{
		max-height: 340px;
		overflow-y: scroll;
	}
	.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 15px;
	}
	.header_area .navbar .nav .nav-item {
		margin-right: 0px;
	}

	/* End Main Menu Area css
	============================================================================================ */
	/* Blog page Area css
	============================================================================================ */
	.blog_area{
		padding-bottom: 80px;
	}
	.single-post-area .blog_right_sidebar{
		margin-top: 30px;
	}
	.single-blog .short_details {
		width: 90%;
		padding: 25px;
	}
	.single-blog.video-style.small .short_details {
		padding-top: 70px;
	}
	/* End Blog page Area css
	============================================================================================ */
	
	/* Contact Page Area css
	============================================================================================ */
	/* End Contact page Area css
	============================================================================================ */

	.logo-wrapper {
		text-align: right;
	}
	/* Footer Area css
	============================================================================================ */
	.footer-area .col-sm-6{
		margin-bottom: 30px;
	}
	.single-footer-widget .form-group .main_btn {
		margin-top: 0;
	}
	/* End End Footer Area css
	============================================================================================ */

	.single-blog .meta-top a {
		margin-right: 5px;
	}
	.single-blog .meta-top a::after {
		display: none;
	}
	.area-padding {
		padding: 80px 0 50px;
	}
	.area-padding-bottom {
		padding-bottom: 80px;
	}
	.addvertise {
		margin-top: 30px;
	}



}




@media (max-width:767px){

	/* Banner Area css
	============================================================================================ */

	.banner_area .banner_inner .banner_content .page_link {
		padding: 0;
		float: right;
	}
	.banner_area .banner_inner .banner_content h2 {
		font-size: 25px;
		float: left;
	}
	/* Blog Page Area css
	============================================================================================ */
	.single-blog.video-style.small .short_details {
		padding-top: 15px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	.area-heading h3 {
		font-size: 25px;
	}
	/* Footer Area css
	============================================================================================ */
	.footer-bottom{
		text-align: center;
	}
	.footer-bottom .footer-social {
		text-align: center;
		margin-top: 15px;
	}
	.single-footer-widget .form-group .main_btn {
		margin-left: 25px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.single-blog {
		margin-bottom: 50px;
	}
	.single-footer-widget {
		margin-bottom: 50px;
	}
	.addvertise {
		margin-top: 0px;
	}

	.single-blog.video-style .short_details {
		margin-top: -25px;
	}

}
@media (max-width:575px){

    /* Home Banner Area css
    ============================================================================================ */
    .banner_area .banner_inner .banner_content .page_link {
    	margin-top: 5px;
    }
	/* End Home Banner Area css
	============================================================================================ */
	/* Elements Area css
	============================================================================================ */
	.sample-text-area {
		padding: 70px 0 70px 0;
	}
	.generic-blockquote {
		padding: 30px 15px 30px 30px;
	}
	/* End Elements Area css
	============================================================================================ */
	
	/* Blog Page Area css
	============================================================================================ */
	.blog_details h2 {
		font-size: 20px;
		line-height: 30px;
	}
	.single-blog.video-style.small .thumb {
		padding-right: 15px;
	}
	.single-blog.video-style .short_details {
		margin-top: 0;
		padding: 20px;
		width: 100%;
		right: 0;
	}
	/* End Blog Page Area css
	============================================================================================ */
	/* Footer Area css
	============================================================================================ */
	.footer-area {
		padding: 70px 0 0;
	}
	/* End End Footer Area css
	============================================================================================ */
	.footer-bottom {
		padding-top: 20px;
	}
}

@media (max-width:480px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar-collapse{
		max-height: 280px;
	}
	/* End Main Menu Area css
	============================================================================================ */
	
	/* Home Banner Area css
	============================================================================================ */
	/* End Home Banner Area css
	============================================================================================ */
	.banner_area .banner_inner .banner_content h2 {
		font-size: 32px;
	}
	/* Blog Page Area css
	============================================================================================ */
	.comments-area .thumb {
		margin-right: 10px;
	}
	
	/* End Blog Page Area css
	============================================================================================ */
}