/*--------------------------------------------------------------
# WhatsApp button
--------------------------------------------------------------*/
.whatsapp {
   position: fixed;
   visibility: hidden;
   opacity: 0;
   right: 15px;
   bottom: 65px;
   z-index: 999999;
   background: #24d45f;
   padding: 20px;
   width: 38px;
   height: 38px;
   border-radius: 50%;
   transition: all 0.4s;
 }
 
 .whatsapp-gpt {
   position: fixed;
   top: 20px; /* Sesuaikan dengan jarak atas yang diinginkan */
   right: 20px; /* Sesuaikan dengan jarak kanan yang diinginkan */
   z-index: 9999; /* Pastikan z-index lebih tinggi dari elemen lain di halaman */
   background-color: #25D366; /* Warna latar belakang ikon */
   color: #ffffff; /* Warna teks ikon */
   width: 60px; /* Lebar ikon */
   height: 60px; /* Tinggi ikon */
   border-radius: 50%; /* Bentuk ikon menjadi lingkaran */
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   transition: background-color 0.3s ease;
 }
 
 .whatsapp-gpt:hover {
   background-color: #128C7E; /* Warna latar belakang ikon saat dihover */
 }
 
 .whatsapp i {
   font-size: 25px;
   color: #fff;
   line-height: 0;
 }
 
 .whatsapp:hover {
   background: #137e18;
   color: #fff;
 }
 
 .whatsapp.active {
   visibility: visible;
   opacity: 1;
 }